{{!-- Footer Partial --}}
<footer class="page-footer amber darken-4">
  <div class="footer-copyright">
    © 2016 Author can not claim copyright. All article data was web scraped from 
    <a class="grey-text text-lighten-4" href="http://www.nytimes.com/section/sports">www.nytimes.com/section/sports</a>
  </div>
</footer>
