<div class="container">
  <ul class="collection with-header">
    <li class="collection-header  cyan lighten-4"><h2><i class="fa fa-futbol-o" aria-hidden="true"></i><b>  Welcome to NYT Sports Scraping Time!  </b><i class="fa fa-futbol-o" aria-hidden="true"></i></h2></li>
    <li class="collection-item">This awesome app allows you to read articles scraped from the NY Times Sports section. Comment below.</li>
    <li class="collection-item"><div>Click <i class="material-icons">replay</i> in the navbar to re-scrape data.</div></li>
    <li class="collection-item"><div>Click <i class="material-icons">description</i> to view the article.</div></li>
    <li class="collection-item"><div>Click <i class="material-icons">chat_bubble_outline</i> to add a comment.</div></li>
    <li class="collection-item"><div>Click <i class="material-icons">speaker_notes</i> to read comments.</div></li>
  </ul>
</div>