<div class="container">
  <ul class="collection with-header">
    <li class="collection-header cyan lighten-2"><h2><b>Welcome to NYT Sports Scraping Time!</b></h2></li>
    <li class="collection-item">This awesome app allows you to read articles scraped from the NY Times Sports section. The user can also comment on those articles.</li>
    <li class="collection-item"><div>Click <i class="material-icons">replay</i> in the navbar to re-scrape data.</div></li>
    <li class="collection-item"><div>Click <i class="material-icons">description</i> to view the article.</div></li>
    <li class="collection-item"><div>Click <i class="material-icons">chat_bubble_outline</i> to add a comment.</div></li>
    <li class="collection-item"><div>Click <i class="material-icons">speaker_notes</i> to read comments.</div></li>
  </ul>
</div>