{{!-- Navbar Partial--}}
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper amber darken-4">
      <a href="/" class="brand-logo"><i class="medium material-icons">replay</i>NY Times Sports Scraping Time</a>
      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://www.nytimes.com/section/sports" target="_new"><i class="fa fa-3x fa-newspaper-o" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/muhammeta7/MongoScrape" target="_new"><i class="fa fa-3x fa-github" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Tab for Navbar -->
<ul class="side-nav darken-3" id="mobile-demo">
  <li><a href="ttp://www.nytimes.com/section/sports" target="_new"><i class="fa fa-3x fa-newspaper-o" aria-hidden="true"></i>NYT Sports</a></li>
  <li><a href="https://github.com/muhammeta7/MongoScrape" target="_new"><i class="fa fa-2x fa-github" aria-hidden="true"></i>Github Repo</a></li>
</ul>