{{!-- Navbar Partial--}}
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red darken-1">
      <a href="/" class="brand-logo"><i class="medium material-icons">replay</i>Reddit Scraping Time</a>
      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://www.reddit.com/" target="_new"><i class="fa fa-3x fa-reddit" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/muhammeta7/MongoScrape" target="_new"><i class="fa fa-3x fa-github" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </nav>
</div>
