<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mongoose Scrape</title>

        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    {{!-- Materialize Icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://use.fontawesome.com/375a6dc6a2.js"></script>

</head>
<body>

  {{> navbar}}

  {{> header}}


 <!-- Dynamic Content -->
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          {{{body}}}
        </div>
    </div>
  </div>
  
  
  {{> footer}}
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="./assets/js/app.js"></script>
  

</body>
</html>