/*Navbar*/
.brand-logo {
  position: relative;
  left: 50px;
}

/*Sticky Footer*/
.footer-copyright {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  /*Add Background Texture*/
  background-image: url('../images/newspaper-texture.jpg');
}

main {
  flex: 1 0 auto;
}

/*headear*/
.collection-item, .collection-header {
  font-size: 16px;
}

h2 {
  font-size: 24px;
  text-align:  center;
}


/*Mongoose Rendered Dom*/
.collapsible-body {
  background-color: white;
}

.collapsible-header {
  background-color: white;
}

.deleteComment {
  color: white; 
  background-color: red;
  border: 2px border black;
}
